@import "tailwindcss";
@font-face {
  font-family: 'bellina';
  src: url(./font/Bellina.woff);
}


.fontt{
  font-family: 'bellina';
}

@font-face {
  font-family: 'dune';
  src: url(./font/Dune_Rise.woff);
}


@font-face {
  font-family: "roboto";
  src: url(./font/Roboto-Regular.woff);
}


@font-face {
  font-family: "alien";
  src: url(./font/TheCalling.woff);
}

@font-face {
  font-family: "space-mono";
  src: url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}

h3{
  font-family: 'bellina';
  font-size: 1.4rem;
}

@layer utilities{
  .bg-images{
   @apply absolute object-cover object-center w-full h-full
  }

  .projectTags{
    @apply p-1 border-pink-950  border w-fit px-2 bg-pink-200 text-pink-950 rounded font-semibold text-base
  }
   .workTags{
    @apply p-1 border-blue-950  border w-fit px-2 bg-blue-300 text-blue-950 rounded font-semibold text-base
  }

  .inputField{
    @apply  rounded border-blue-900 p-1 outline-0 border-0 bg-blue-300 text-blue-950
  }
}

.bg-blur{
      backdrop-filter: blur(16px);
      background-color: rgba(39, 31, 35, 0.40) ;
}



.socialsSection{
  display: grid;
  grid-template-areas: "p num"
                       "w gmail";
}

@media (max-width: 768px) {
  .socialsSection{
    grid-template-areas: "p"
                         "num"
                         "w"
                         "gmail";
  }
}

.plan{
  grid-area: p;
}

.worm{
  grid-area: w;
}

.num{
  grid-area: num;
}

.gmail{
  grid-area: gmail;
}